/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* TYPE SELECTOR */

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #bdc1c4;
    color: #04246a;
    text-align: center;
}

h1 {
    font-family: 'Merriweather', serif;
    margin: 0 0 16px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

h2,
h3 {
    font-family: 'Merriweather', serif;
    margin: 0 0 16px 0;
    text-align: center;
    color: #04246a;
    font-weight: 700;
}

/* ID SELECTOR */

#hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 24px 20px;
    text-align: center;
}



/* NAVIGATION */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;

    background-color: rgba(44, 52, 88, 0.8);
    padding: 10px 20px;
    border-radius: 8px;

    display: inline-block;
    transition: 0.3s;
}

nav a:hover,
nav a:focus {
    background-color: #2563eb;
    transform: translateY(-2px);
    outline: 3px solid #facc15;
}

form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

fieldset {
    border: 2px solid #2563eb;
    border-radius: 8px;
    padding: 20px;
}

label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    margin-top: 8px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #04246a;
}

/* Keyboard Accessibility */
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: 3px solid #facc15;
    outline-offset: 3px;
}

/* CLASS SELECTOR */

.card {
    background-color: #6a7ea7;
    text-align: center;
    border: 1px solid #dbeafe;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease;
}

.intro-list {
    list-style: disc;
    margin-top: 16px;
    list-style-position: inside;
    border: 2px solid #04246a;
}

.intro-list li {
    margin: 8px 0;
    text-align: center;
}

.profile-image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 24px auto;
}

.active {
    background-color: #04246a;
    border: 2px solid white;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 24px;
}

.skill-card {
    font-family: 'Inter', sans-serif;
    background-color: white;
    border: 1px solid #6a7ea7;
    border-radius: 8px;
    padding: 24px;
    max-width: 1200px;
    text-align: center;
}

.skill-box {
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 24px;
    background-color: #04246a;
    text-align: center;
}

.skill-list {
    list-style-type: disc;
    text-align: left;
    margin-left: 24px;
}

.contact-info {
    font-family: 'Inter', sans-serif;
    background-color: white;
    border: 4px solid #6a7ea7;
    border-radius: 8px;
    padding: 24px;
    max-width: 1200px;
    text-align: center;
}

.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
    background: #6a7ea7;
    color: white;
    padding: 16px;
    border-radius: 8px;
    z-index: 1000;
}

.project-video {

    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 24px auto;
    border-radius: 8px;
}

.badge {
    max-width: 260px;
    height: auto;
    display: block;
    margin: 24px auto;
    border-radius: 8px;
    text-align: center;
}

.error-message {
    color: #b91c1c;
    display: none;
    font-size: 0.9rem;
    margin-top: 4px;
}

.error-message.show {
    display: block;
}

/* SECTIONS */

section {
    padding: 24px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #2C3458;
    color: white;
    text-align: center;
    padding: 24px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* TABLET */

@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* DESKTOP */

@media (min-width: 1200px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}